:root {
  --accentColor: #61dafb;
  --bgColor: #282c34;
}

.App {
  text-align: center;
}

a{
  color: white;
}

a:visited{
  color: #c0bcbc;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--accentColor);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
    background-color: var(--bgColor);
    color: white;
}

.container, .full-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.full-container {
  width: 100%;
}

.container-row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.logo{
  max-width: 100px;
  max-height: 100px;
}

nav {
  background-color: var(--bgColor);;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0;
  box-shadow: 0 0 10px var(--accentColor);;
}

ul {
  list-style-type: none;
  display: flex;
  margin-left: -40px;
}

li {
  margin-left: 3vw;
}

nav ul li a {
  text-decoration: none;
  color: var(--accentColor);;
  font-size: 20px;
  transition: color 0.5s ease;
}

nav ul li a:hover {
  color: var(--accentColor);
}

.container-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.uuidFooter{
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--accentColor);
  font-size: 10px;
}

.icon-reload{
  width: 15px;
  height: 15px;
  margin-left: 10px;
  filter: invert(80%);
  cursor: pointer;
}

.icon-reload:hover{
  filter: invert(100%);
}