.codraw-container{
    position: absolute;
    top: 15px;
    left: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px;
    text-align: right;
    color: lightgray;
    border: none;
    flex-wrap: wrap;
    background-color: var(--bgColor);
    padding: 10px;
    border-radius: 5px;
}

.link-text-container{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

