.container-draw {
    height: calc(100vh - 120px); /* Adjust this value based on the height of your menu bar */
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: var(--accentColor);
}

.container-data{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bgColor);
    width: 100%;
    height: 50px;
    font-size: 14px;
}

.link-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 12px;
    text-align: right;
    color: lightgray;
    border: none;
}

.copy-info-tag{
    margin-left: 5px;
    color: var(--accentColor);
    font-size: 12px;
    width: 10px;
}