.container-column-center {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.menu {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    margin: 10px;
    height: 5vh;
    font-size: 20px;
    cursor: pointer;
}

.menu-button {
    color: var(--bgColor);
    align-items: center;
    margin: 5px;
    height: 3vh;
    background: darkgray;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 0 5px var(--accentColor);
    width: 100px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .menu-button {
        height: 5vh; /* Increase the height */
        width: 150px; /* Increase the width */
        margin: 15px; /* Add more margin */
        font-size: 1.2em; /* Increase font size */
    }
}

.menu-button:hover {
    background: var(--accentColor);
    color: black;
}
