
.toggle-container{
    position: absolute;
    top: 25px;
    left: 90%;
    font-size: 12px;
    text-align: right;
    color: lightgray;
    border: none;
    flex-wrap: wrap;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 80px;
    height: 40px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: var(--accentColor);
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: grey;
}

input:checked + label:after {
    transform: translateX(-50%);
}

label:active:after {
    width: 70px;
}
